<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ConnectionStringReader" version="1.0.0" targetFramework="net40" />
  <package id="DbCommandFormatter" version="1.0.1" targetFramework="net40" />
  <package id="DbParameterSetter" version="1.0.0" targetFramework="net40" />
  <package id="NameTree" version="1.1.0" targetFramework="net40" />
  <package id="PropertiesHash" version="1.1.0" targetFramework="net40" />
  <package id="ToObject" version="2.0.0" targetFramework="net40" />
</packages>